*{
    margin:0;
    padding:0;
    font-family:'Times New Roman', Times, serif;
}
h1{
    color:#0a0a0a;
    padding:1.25rem;
    margin:1rem;
}
form{

    padding:1.25rem;
    margin:1rem;
    border:1px solid rgb(168, 72, 72);
    box-shadow: 20px,20px;
    background: linear-gradient(135deg, white , rgb(103, 103, 214));
    width:21rem;
}
input{
    display:block;
    color:rgb(4, 60, 82);
    width:300px;
    height:2rem;
    margin:1rem; 
    border:none;
    padding-left:10px;

}
input::placeholder{
    color:rgba(55, 145, 157, 0.923);
    padding-left:10px;

}
input[type="submit"]{
    font-weight:600;
    font-size:17px;
    opacity: 0.78;
}
input[type="submit"]:hover{
    box-shadow:60px,50px ;
    opacity:1;

}
form label{
    padding-left:1rem;

}

.card{
    display:inline-block;
    border:2px solid rgb(83, 80, 80);
    padding:30px;
    margin:2.25rem;
    border-radius:10px;
    max-width:300px;
    background-color: #192c4b;
    color:white;
    
}
.profile{
    border-radius:50%;
    width:60px;
    height:50px;
    margin-bottom:7px;
    overflow:hidden;
    
}
.profile img{
    width: 100%;
    height:100%;
    object-fit:cover;
}
.card h4{
    margin-top:7px;
}

.card p{
    font-size:12px;
    font-weight:300;

}